/**************************************************************
	
	STYLESHEET INDEXING
	|
	|
	|___ Basic Styles
	|	|
	|	|___ Reset Styles
	|	|___ Typography
	|	|___ Animations
	|	|___ Utilities
	|
	|
	|___Elements Styles
	|	|___ Button
	|	|___ Section Title
    |   |___ Breadcrumb
	|	|___ Selectbox
	|	|___ Roundbox
    |   |___ Features
	|	|___ Service
    |   |___ Videobox
	|	|___ Counterbox
    |   |___ Insurence Box
    |   |___ Call To Action
    |   |___ Blog Item
    |   |___ Widget Styles
    |   |___ Working Progress
    |   |___ Callback
    |   |___ Team Member
    |   |___ Slider Elements
	|
	|
	|___Blocks Styles
	|	|___ Header 
	|	|___ Navigation 
	|	|___ Heroslider
	|	|___ About Styles
	|	|___ Testimonial
	|	|___ FAQ Css
	|	|___ Contact Css
	|	|___ Footer
	|
	|
	|___ END STYLESHEET INDEXING

***************************************************************/
/**************************************
    Basic Styles
***************************************/
/**
 * Reset Styels
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a {
  color: #ca3c08;
  text-decoration: none;
}

a:visited {
  color: #ac0404;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  color: #ea9629;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: italic;
  margin: 0 0 24px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p {
  margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px;
}

blockquote blockquote {
  margin-right: 0;
}

blockquote cite,
blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

blockquote em,
blockquote i {
  font-style: normal;
  font-weight: 300;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

small {
  font-size: smaller;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

menu,
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

ul {
  list-style-type: square;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  min-width: inherit;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  appearance: textfield;
  padding-right: 2px;
  /* Don't cut off the webkit search cancel button */
  width: 270px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

caption {
  font-size: 16px;
  margin: 20px 0;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  background-size: 4px 4px;
  border: 0;
  height: 1px;
  margin: 0 0 24px;
}

/**
 * Typography
 */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  overflow: hidden;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  color: #777777;
  font-weight: 400;
}
body::-webkit-input-placeholder {
  color: #777777;
}
body:-moz-placeholder {
  color: #777777;
}
body::-moz-placeholder {
  color: #777777;
}
body:-ms-input-placeholder {
  color: #777777;
}

a {
  transition: all 0.4s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
dl,
dd,
menu,
ol,
ul,
table,
caption,
hr {
  margin: 0;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: #2b2b2b;
}

h1,
.h1 {
  font-size: 52px;
}

h2,
.h2 {
  font-size: 44px;
}

h3,
.h3 {
  font-size: 26px;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

.img-logo{
  height: 75px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .img-logo{
    height: 35px !important;
  }
  h1,
  .h1 {
    font-size: 44px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .img-logo{
    height: 35px !important;
  }
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .img-logo{
    height: 35px !important;
  }
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 25px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 700;
}

h4,
.h4,
h5,
.h5 {
  font-weight: 600;
}

h6,
.h6 {
  font-weight: 500;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
}

input,
button,
select,
textarea {
  background: transparent;
  border: 1px solid #f0f0f0;
  transition: all 0.4s ease-out 0s;
  color: #777777;
  font-family: "Open Sans", sans-serif;
}
input::-webkit-input-placeholder,
button::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #777777;
}
input:-moz-placeholder,
button:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777777;
}
input::-moz-placeholder,
button::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #777777;
}
input:-ms-input-placeholder,
button:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #777777;
}
input:focus, input:active,
button:focus,
button:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  outline: none;
  border-color: #a92421;
}

input,
select,
textarea {
  width: 100%;
  font-size: 14px;
}

input,
select {
  height: 45px;
  padding: 0 15px;
}

.ul-style-1 {
  padding-left: 0;
}
.ul-style-1 li {
  list-style: none;
  padding-left: 40px;
  position: relative;
}
.ul-style-1 li::before {
  content: "\f267";
  font-family: 'Material-Design-Iconic-Font';
  font-size: 20px;
  color: #a92421;
  position: absolute;
  left: 3px;
  top: 0;
}

.ul-style-2 {
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0;
}
.ul-style-2 li {
  list-style: none;
  padding-left: 40px;
  position: relative;
  color: #a92421;
  margin-bottom: 15px;
}
.ul-style-2 li:last-child {
  margin-bottom: 0;
}
.ul-style-2 li::before {
  content: "\f267";
  font-family: 'Material-Design-Iconic-Font';
  font-size: 20px;
  color: #a92421;
  position: absolute;
  left: 3px;
  top: 0;
}

/**
 * Animations
 */
@-webkit-keyframes crZoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes crZoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes crZoomInOutInvisible {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes crZoomInOutInvisible {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
@-webkit-keyframes crFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes crFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes crSlideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes crSlideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes crBounceIn {
  20%,
    40%,
    60%,
    80%,
    from,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes crBounceIn {
  20%,
    40%,
    60%,
    80%,
    from,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes crSlideInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes crSlideInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes carInOutAnimation {
  0% {
    transform: translateX(200%);
  }
  18% {
    transform: translateX(-5%);
  }
  20% {
    transform: translateX(5%);
  }
  22% {
    transform: translateX(0);
  }
  78% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-5%);
  }
  82% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes carInOutAnimation {
  0% {
    transform: translateX(200%);
  }
  18% {
    transform: translateX(-5%);
  }
  20% {
    transform: translateX(5%);
  }
  22% {
    transform: translateX(0);
  }
  78% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(-5%);
  }
  82% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes crCycling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
 * Utilities
 */
.hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
}

/* Define Colors */
.color-theme {
  color: #a92421;
}

.color-secondary {
  color: #163963;
}

.color-light {
  color: #999999;
}

.color-dark {
  color: #333333;
}

.color-black {
  color: #000000;
}

.color-white {
  color: #ffffff;
}

/* Background Color */
.bg-theme {
  background: #a92421 !important;
}

.bg-secondary {
  background: #163963 !important;
}

.bg-light {
  background: #999999 !important;
}

.bg-grey {
  background: #f5f5f5 !important;
}

.bg-dark {
  background: #2a2a2a !important;
}

.bg-dark-light {
  background: #323232 !important;
}

.bg-black {
  background: #000000 !important;
}

.bg-white {
  background: #ffffff !important;
}

.bg-shape {
  background-image: url(../images/bg/bg-shape.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .bg-shape {
    background-position: left;
  }
}

.bg-shape-2 {
  background-image: url(../images/bg/bg-shape-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

/* Youtube Video Background */
.background-video-holder {
  position: relative;
}

.youtube-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0 !important;
  left: 0;
  z-index: -1;
}

.youtube-bg {
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Background Image */
.bg-image-1 {
  background-image: url(../images/bg/background-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-2 {
  background-image: url(../images/bg/background-image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-3 {
  background-image: url(../images/bg/background-image-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-4 {
  background-image: url(../images/bg/background-image-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-5 {
  background-image: url(../images/bg/background-image-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-6 {
  background-image: url(../images/bg/background-image-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-7 {
  background-image: url(../images/bg/background-image-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-8 {
  background-image: url(../images/bg/background-image-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-9 {
  background-image: url(../images/bg/background-image-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-10 {
  background-image: url(../images/bg/background-image-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-11 {
  background-image: url(../images/bg/background-image-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-12 {
  background-image: url(../images/bg/background-image-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-13 {
  background-image: url(../images/bg/background-image-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-14 {
  background-image: url(../images/bg/background-image-14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-15 {
  background-image: url(../images/bg/background-image-15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-16 {
  background-image: url(../images/bg/background-image-16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-17 {
  background-image: url(../images/bg/background-image-17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-18 {
  background-image: url(../images/bg/background-image-18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-19 {
  background-image: url(../images/bg/background-image-19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image-20 {
  background-image: url(../images/bg/background-image-20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Text specialized */
.text-italic {
  font-style: italic;
}

.text-normal {
  font-style: normal;
}

.text-underline {
  text-decoration: underline;
}

/* Font specialized */
.body-font {
  font-family: "Open Sans", sans-serif;
}

.heading-font {
  font-family: "Montserrat", sans-serif;
}

/* Height and width */
.fullscreen {
  min-height: 100vh;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

.h-33 {
  height: 33.33%;
}

.h-10 {
  height: 10%;
}

/* Section padding */
.section-padding-xlg {
  padding: 150px 0;
}

.section-padding-lg {
  padding: 120px 0;
}

.section-padding-md {
  padding: 100px 0;
}

.section-padding-sm {
  padding: 80px 0;
}

.section-padding-xs {
  padding: 50px 0;
}

.section-padding-top-xlg {
  padding-top: 150px;
}

.section-padding-top-lg {
  padding-top: 120px;
}

.section-padding-top-md {
  padding-top: 100px;
}

.section-padding-top-sm {
  padding-top: 80px;
}

.section-padding-top-xs {
  padding-top: 50px;
}

.section-padding-top-xxs {
  padding-top: 25px;
}

.section-padding-bottom-xlg {
  padding-bottom: 150px;
}

.section-padding-bottom-lg {
  padding-bottom: 120px;
}

.section-padding-bottom-md {
  padding-bottom: 100px;
}

.section-padding-bottom-sm {
  padding-bottom: 80px;
}

.section-padding-bottom-xs {
  padding-bottom: 50px;
}

.section-padding-pt-90 {
  padding-top: 90px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-padding-xlg {
    padding: 120px 0;
  }

  .section-padding-lg {
    padding: 100px 0;
  }

  .section-padding-pt-90 {
    padding-top: 70px;
  }

  .section-padding-md {
    padding: 80px 0;
  }

  .section-padding-sm {
    padding: 60px 0;
  }

  .section-padding-top-xlg {
    padding-top: 120px;
  }

  .section-padding-top-lg {
    padding-top: 100px;
  }

  .section-padding-top-md {
    padding-top: 80px;
  }

  .section-padding-top-sm {
    padding-top: 60px;
  }

  .section-padding-bottom-xlg {
    padding-bottom: 120px;
  }

  .section-padding-bottom-lg {
    padding-bottom: 100px;
  }

  .section-padding-bottom-md {
    padding-bottom: 80px;
  }

  .section-padding-bottom-sm {
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding-xlg {
    padding: 110px 0;
  }

  .section-padding-lg {
    padding: 90px 0;
  }

  .section-padding-pt-90 {
    padding-top: 60px;
  }

  .section-padding-md {
    padding: 80px 0;
  }

  .section-padding-sm {
    padding: 60px 0;
  }

  .section-padding-top-xlg {
    padding-top: 110px;
  }

  .section-padding-top-lg {
    padding-top: 90px;
  }

  .section-padding-top-md {
    padding-top: 80px;
  }

  .section-padding-top-sm {
    padding-top: 60px;
  }

  .section-padding-bottom-xlg {
    padding-bottom: 110px;
  }

  .section-padding-bottom-lg {
    padding-bottom: 90px;
  }

  .section-padding-bottom-md {
    padding-bottom: 80px;
  }

  .section-padding-bottom-sm {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .section-padding-xlg {
    padding: 75px 0;
  }

  .section-padding-pt-90 {
    padding-top: 35px;
  }

  .section-padding-lg {
    padding: 65px 0;
  }

  .section-padding-md {
    padding: 60px 0;
  }

  .section-padding-sm {
    padding: 55px 0;
  }

  .section-padding-top-xlg {
    padding-top: 75px;
  }

  .section-padding-top-lg {
    padding-top: 65px;
  }

  .section-padding-top-md {
    padding-top: 60px;
  }

  .section-padding-top-sm {
    padding-top: 55px;
  }

  .section-padding-bottom-xlg {
    padding-bottom: 75px;
  }

  .section-padding-bottom-lg {
    padding-bottom: 65px;
  }

  .section-padding-bottom-md {
    padding-bottom: 60px;
  }

  .section-padding-bottom-sm {
    padding-bottom: 55px;
  }
}
/* Border */
.cr-border {
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 1px;
}

.cr-border-top {
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.cr-border-right {
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.cr-border-bottom {
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.cr-border-left {
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 0 0 0 1px;
}

/* Overlay styles */
[data-overlay],
[data-secondary-overlay],
[data-black-overlay],
[data-white-overlay] {
  position: relative;
}

[data-overlay] > div,
[data-overlay] > *,
[data-secondary-overlay] > div,
[data-secondary-overlay] > *,
[data-black-overlay] > div,
[data-black-overlay] > *,
[data-white-overlay] > div,
[data-white-overlay] > * {
  position: relative;
  z-index: 2;
}

[data-overlay]:before,
[data-secondary-overlay]:before,
[data-black-overlay]:before,
[data-white-overlay]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

[data-overlay]:before {
  background-color: #a92421;
}

[data-secondary-overlay]:before {
  background-color: #031b38;
}

[data-black-overlay]:before {
  background-color: #000000;
}

[data-white-overlay]:before {
  background-color: #ffffff;
}

[data-overlay="1"]:before,
[data-secondary-overlay="1"]:before,
[data-black-overlay="1"]:before,
[data-white-overlay="1"]:before {
  opacity: 0.1;
}

[data-overlay="2"]:before,
[data-secondary-overlay="2"]:before,
[data-black-overlay="2"]:before,
[data-white-overlay="2"]:before {
  opacity: 0.2;
}

[data-overlay="3"]:before,
[data-secondary-overlay="3"]:before,
[data-black-overlay="3"]:before,
[data-white-overlay="3"]:before {
  opacity: 0.3;
}

[data-overlay="4"]:before,
[data-secondary-overlay="4"]:before,
[data-black-overlay="4"]:before,
[data-white-overlay="4"]:before {
  opacity: 0.4;
}

[data-overlay="5"]:before,
[data-secondary-overlay="5"]:before,
[data-black-overlay="5"]:before,
[data-white-overlay="5"]:before {
  opacity: 0.5;
}

[data-overlay="6"]:before,
[data-secondary-overlay="6"]:before,
[data-black-overlay="6"]:before,
[data-white-overlay="6"]:before {
  opacity: 0.6;
}

[data-overlay="7"]:before,
[data-secondary-overlay="7"]:before,
[data-black-overlay="7"]:before,
[data-white-overlay="7"]:before {
  opacity: 0.7;
}

[data-overlay="8"]:before,
[data-secondary-overlay="8"]:before,
[data-black-overlay="8"]:before,
[data-white-overlay="8"]:before {
  opacity: 0.8;
}

[data-overlay="9"]:before,
[data-secondary-overlay="9"]:before,
[data-black-overlay="9"]:before,
[data-white-overlay="9"]:before {
  opacity: 0.9;
}

[data-overlay="10"]:before,
[data-secondary-overlay="10"]:before,
[data-black-overlay="10"]:before,
[data-white-overlay="10"]:before {
  opacity: 1;
}

.slick-slide:active, .slick-slide:focus {
  outline: none;
}
.slick-slide.slick-current:active, .slick-slide.slick-current:focus, .slick-slide.slick-active:active, .slick-slide.slick-active:focus {
  outline: none;
}

.bg-theme,
.bg-dark,
.bg-dark-light,
.bg-secondary {
  color: #ffffff;
}
.bg-theme h1,
.bg-theme h2,
.bg-theme h3,
.bg-theme h4,
.bg-theme h5,
.bg-theme h6,
.bg-theme p,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark p,
.bg-dark-light h1,
.bg-dark-light h2,
.bg-dark-light h3,
.bg-dark-light h4,
.bg-dark-light h5,
.bg-dark-light h6,
.bg-dark-light p,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary h4,
.bg-secondary h5,
.bg-secondary h6,
.bg-secondary p {
  color: #ffffff;
}

#scrollUp {
  right: 30px;
  bottom: 45px;
  height: 45px;
  width: 45px;
  line-height: 41px;
  text-align: center;
  /*background: #a92421;*/
  background: #a92421;
  color: #ffffff;
  font-size: 22px;
  border-radius: 100%;
  /*border: 1px solid #a92421;*/
  border: 1px solid #a92421;
  animation: crSlideInRight 0.8s ease-in-out 1 both;
  z-index: 1000 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 30px;
}

.mb-50 {
  margin-bottom: 30px;
}

.form-message {
  margin-bottom: 0;
  text-align: center;
}
.form-message.error {
  margin-top: 20px;
  color: #f80707;
}
.form-message.success {
  margin-top: 20px;
  color: #0d8d2d;
}

.bk-parallax {
  position: relative;
  z-index: 0;
}

.bk-parallax > .bk-parallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

@media (min-width: 1200px) {
  .container.custom-container {
    max-width: 1310px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}
/**************************************
	Elements Styles
***************************************/
/**
 * Button
 */
.in-button,
.in-button:link,
.in-button:visited {
  outline: none;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #a92421;
  background: transparent;
  padding: 16px 40px 14px 40px;
  border-radius: 1000px;
  color: #a92421;
  text-transform: uppercase;
  border: 1px solid #a92421;
}
.in-button:hover,
.in-button:link:hover,
.in-button:visited:hover {
  background: #a92421;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.in-button.in-button-theme,
.in-button:link.in-button-theme,
.in-button:visited.in-button-theme {
  background: #a92421;
  color: #ffffff;
}
.in-button.in-button-colorwhite,
.in-button:link.in-button-colorwhite,
.in-button:visited.in-button-colorwhite {
  color: #ffffff;
}
.in-button.in-button-white,
.in-button:link.in-button-white,
.in-button:visited.in-button-white {
  border-color: #ffffff;
  color: #ffffff;
}
.in-button.in-button-white:hover,
.in-button:link.in-button-white:hover,
.in-button:visited.in-button-white:hover {
  border-color: #a92421;
}
.in-button.in-button-xs,
.in-button:link.in-button-xs,
.in-button:visited.in-button-xs {
  font-size: 14px;
  padding: 8px 35px 8px 35px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .in-button,
  .in-button:link,
  .in-button:visited {
    padding: 11px 30px 10px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .in-button,
  .in-button:link,
  .in-button:visited {
    padding: 11px 30px 10px 30px;
  }
}
@media only screen and (max-width: 575px) {
  .in-button,
  .in-button:link,
  .in-button:visited {
    padding: 9px 25px 8px 25px;
    font-size: 15px;
  }
}

/* Video Button */
.in-videobutton,
.in-videobutton:link,
.in-videobutton:visited {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  font-size: 42px;
  line-height: 1;
  position: relative;
  z-index: 1;
}
.in-videobutton i,
.in-videobutton:link i,
.in-videobutton:visited i {
  color: #ffffff;
  position: relative;
  z-index: 2;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: #a92421;
  display: inline-block;
  vertical-align: middle;
  padding: 17px 0;
  padding-left: 3px;
  transition: all 0.4s ease-in-out 0s;
}
.in-videobutton::before, .in-videobutton::after,
.in-videobutton:link::before,
.in-videobutton:link::after,
.in-videobutton:visited::before,
.in-videobutton:visited::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  animation: crZoomInOutInvisible 1s ease-in-out infinite backwards;
}
.in-videobutton::after,
.in-videobutton:link::after,
.in-videobutton:visited::after {
  animation-delay: 0.3s;
}
.in-videobutton:hover i,
.in-videobutton:link:hover i,
.in-videobutton:visited:hover i {
  color: #ffffff;
  background: #a92421;
}
@media only screen and (max-width: 767px) {
  .in-videobutton,
  .in-videobutton:link,
  .in-videobutton:visited {
    width: 55px;
    height: 55px;
    font-size: 28px;
  }
  .in-videobutton i,
  .in-videobutton:link i,
  .in-videobutton:visited i {
    height: 55px;
    width: 55px;
    padding: 14px 0;
  }
}

/**
 * Section Title
 */
.section-title {
  margin-bottom: 30px;
}
.section-title::after {
  content: url("../images/icons/title-bottom-shape.png");
}
.section-title h6 {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  margin-top: -5px;
}
.section-title h2 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
}
@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 15px;
  }
}

/**
 * Breadcrumb
 */
.in-breadcrumb {
  padding: 90px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .in-breadcrumb {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  .in-breadcrumb {
    padding: 60px 0;
  }
}
.in-breadcrumb ul {
  padding-left: 0;
  margin-bottom: 0;
  padding: 5px 0;
}
.in-breadcrumb ul li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.in-breadcrumb ul li:after {
  content: "/";
  padding: 0 15px;
  line-break: 1;
}
.in-breadcrumb ul li:last-child::after {
  display: none;
}
.in-breadcrumb ul li a {
  display: inline-block;
  color: #ffffff;
}
.in-breadcrumb ul li a:hover {
  color: #a92421;
}
.in-breadcrumb h6 {
  text-align: right;
  color: #ffffff;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 5px 0;
  font-weight: 400;
}
.in-breadcrumb h6::before {
  content: "\f301";
  font-family: 'Material-Design-Iconic-Font';
  padding-right: 10px;
  font-size: 22px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .in-breadcrumb .row .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .in-breadcrumb ul li {
    font-size: 18px;
  }
  .in-breadcrumb h6 {
    text-align: left;
    font-size: 18px;
  }
}

/**
 * Selectbox
 */
.nice-select {
  width: 100%;
  height: 45px;
  border-radius: 0;
  border: 1px solid #f0f0f0;
}
.nice-select::after {
  border-bottom: none;
  border-right: none;
  content: '\f2f9';
  font-family: 'Material-Design-Iconic-Font';
  display: block;
  height: 5px;
  margin-top: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition: all .15s ease-in-out;
  width: 30px;
  font-size: 22px;
  text-align: center;
}
.nice-select.open::after {
  transform: rotate(180deg);
}
.nice-select.open, .nice-select:active, .nice-select:focus {
  border-color: #a92421;
}
.nice-select .current {
  height: 45px;
  padding: 0;
}
.nice-select .list {
  width: 100%;
  border-radius: 0;
  margin-top: 1px;
}
.nice-select .list li {
  font-weight: 400;
  line-height: 30px;
  list-style: none;
  min-height: 30px;
  outline: 0;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}

/**
 * Roundbox
 */
.roundbox {
  position: relative;
  height: 320px;
  width: 320px;
}
.roundbox:before {
  content: "";
  background: url(../images/icons/roundbox-bg.png) no-repeat scroll center center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: center center;
  animation: crCycling 5s linear 0s infinite both;
}
.roundbox-block {
  text-align: center;
  display: inline-block;
  position: absolute;
}
.roundbox-block:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -32%);
}
.roundbox-block:nth-child(2) {
  left: 0;
  top: 50%;
  transform: translate(-45%, -40%);
}
.roundbox-block:nth-child(3) {
  left: auto;
  right: 0;
  top: 50%;
  transform: translate(55%, -40%);
}
.roundbox-block:nth-child(4) {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.roundbox-block h5 {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
}
.roundbox-icon {
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 80px;
  background: #163963;
  border-radius: 100px;
  display: inline-block;
  color: #ffffff;
  font-size: 34px;
}
@media only screen and (max-width: 1400px) {
  .roundbox {
    height: 225px;
    width: 225px;
  }
  .roundbox-block h5 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .roundbox {
    height: 225px;
    width: 225px;
  }
  .roundbox-block h5 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .roundbox {
    height: auto;
    width: auto;
  }
  .roundbox-block {
    position: relative;
    transform: translate(0) !important;
    left: inherit !important;
    top: inherit !important;
    margin-top: 30px;
  }
  .roundbox-block:not(:last-child) {
    margin-right: 30px;
  }
  .roundbox-block h5 {
    margin-top: 15px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .roundbox {
    height: auto;
    width: auto;
  }
  .roundbox-block {
    position: relative;
    transform: translate(0) !important;
    left: inherit !important;
    top: inherit !important;
    margin-top: 20px;
    min-width: 120px;
  }
  .roundbox-block:not(:last-child) {
    margin-right: 30px;
  }
  .roundbox-block h5 {
    margin-top: 15px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .roundbox-block:not(:last-child) {
    margin-right: 15px;
  }
  .roundbox-icon {
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 26px;
  }
}

/**
 * Features
 */
.in-feature {
  padding: 15px 0;
  padding-left: 80px;
  position: relative;
}
.in-feature-icon {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 60px;
  display: inline-block;
  line-height: 1;
  color: #2b2b2b;
}
.in-feature h4 {
  font-size: 22px;
  padding-right: 30px;
}
.in-feature p {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .in-feature {
    padding-left: 58px;
  }
  .in-feature-icon {
    font-size: 42px;
  }
  .in-feature h4 {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .in-feature h4 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .in-feature h4 {
    font-size: 20px;
    padding-right: 0;
  }
}
@media only screen and (max-width: 575px) {
  .in-feature h4 {
    font-size: 20px;
    padding-right: 0;
  }
}

.features-wrapper-2 .in-feature {
  margin: 10px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .features-wrapper-2 {
    margin-top: -15px;
  }
  .features-wrapper-2 .in-feature {
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .features-wrapper-2 {
    margin-top: -15px;
  }
  .features-wrapper-2 .in-feature {
    margin: 0;
  }
}

.feature-videobox {
  margin-left: 48px;
  padding-right: 70px;
  padding-bottom: 70px;
  position: relative;
}
.feature-videobox::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-color: transparent #dff4fb #dff4fb transparent;
  border-style: solid;
  border-width: 70px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .feature-videobox {
    margin-left: 0;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .feature-videobox {
    margin-left: 0;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .feature-videobox {
    margin-left: 0;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

/**
 * Service
 */
.in-service {
  background: #ffffff;
  box-shadow: 0 0 12px rgba(136, 136, 136, 0.1);
  padding: 30px 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.4s ease-in-out 0s;
}
.in-service-icon {
  font-size: 56px;
  line-height: 1;
  /*color: #3489ca;*/
  color: #a92421;
  margin-bottom: 20px;
  display: inline-block;
  transition: all 0.4s ease-in-out 0s;
}
.in-service h5 {
  font-size: 18px;
  font-weight: 700;
}
.in-service h5 a {
  color: #2b2b2b;
  transition: all 0.4s ease-in-out 0s;
}
.in-service p {
  margin-bottom: 0;
  font-size: 14px;
  transition: all 0.4s ease-in-out 0s;
}
.in-service-transparenticon {
  position: absolute;
  left: auto;
  right: -10px;
  top: auto;
  bottom: -10px;
  font-size: 90px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.in-service:hover {
  /*background: #3489ca;*/
  background: #a92421;
}
.in-service:hover .in-service-icon, .in-service:hover h5, .in-service:hover h5 a, .in-service:hover p {
  color: #ffffff;
}
.in-service:hover .in-service-transparenticon {
  opacity: 1;
}
.in-service:hover h5 a:hover {
  /*color: #163963;*/
}

/* Service Style 2 */
.in-service-2-image {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.in-service-2-image a {
  display: block;
  position: relative;
}
.in-service-2-image a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.in-service-2-image img {
  width: 100%;
}
.in-service-2-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
  margin-top: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.in-service-2-content {
  padding-top: 30px;
}
.in-service-2-content h5 a {
  color: #2b2b2b;
}
.in-service-2-content h5 a:hover {
  color: #a92421;
}
.in-service-2-content .in-button {
  margin-top: 15px;
}
.in-service-2:hover .in-service-2-image a::before {
  visibility: visible;
  opacity: 1;
}
.in-service-2:hover .in-service-2-icon {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

/* Service Details */
.service-details-img {
  position: relative;
}

.service-blockquote {
  padding: 20px 30px;
  margin-bottom: 0;
  background: #a92421;
  color: #fff;
  font-style: normal;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  position: relative;
}
.service-blockquote .top-overlay::after {
  background: #0072bc;
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  width: 30px;
  height: 10px;
  transform: rotate(8deg);
}
.service-blockquote .top-overlay::before {
  background: #0072bc;
  position: absolute;
  content: "";
  left: -8px;
  bottom: 0;
  width: 10px;
  height: 30px;
  transform: rotate(-8deg);
}
.service-blockquote .bottom-overlay::after {
  background: #0072bc;
  position: absolute;
  content: "";
  right: -8px;
  top: -7px;
  width: 30px;
  height: 10px;
  transform: rotate(8deg);
}
.service-blockquote .bottom-overlay::before {
  background: #0072bc;
  position: absolute;
  content: "";
  right: -8px;
  top: 0;
  width: 10px;
  height: 30px;
  transform: rotate(-8deg);
}
.service-blockquote p {
  margin-bottom: 0;
}

.in-service-3 .feature-icon {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
}
.in-service-3 p {
  margin-bottom: 0;
}

/**
 * Videobox
 */
.in-videobox {
  position: relative;
}
.in-videobox::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  background: rgba(22, 57, 99, 0.75);
}
.in-videobox img {
  width: 100%;
}
.in-videobox .in-videobox-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.in-videobox.in-videobox-2::before {
  border-radius: 10px;
  left: 20px;
  top: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}

/**
 * Counterbox
 */
.counterbox {
  display: flex;
  align-items: center;
  padding: 50px;
}
.counterbox-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.counterbox-block {
  min-width: 190px;
  min-height: 190px;
  display: flex;
  padding: 30px;
  margin: 10px;
}
.counterbox-block h1,
.counterbox-block h2,
.counterbox-block h3,
.counterbox-block h4,
.counterbox-block h5,
.counterbox-block h6,
.counterbox-block p,
.counterbox-block a {
  color: #ffffff;
}
.counterbox-block a:hover {
  color: #a92421;
}
.counterbox-block h2 {
  margin-bottom: 10px;
  line-height: 1;
}
.counterbox-block h6 {
  font-size: 16px;
  margin-bottom: 0;
}
.counterbox-block:nth-child(1), .counterbox-block:nth-child(2) {
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.counterbox-block:nth-child(3), .counterbox-block:nth-child(4) {
  align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.counterbox-block:nth-child(1), .counterbox-block:nth-child(3) {
  justify-content: flex-end;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.counterbox-block:nth-child(2), .counterbox-block:nth-child(4) {
  justify-content: flex-start;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .counterbox {
    padding: 30px;
  }
  .counterbox-block {
    min-width: 180px;
    min-height: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .counterbox {
    padding: 30px;
  }
  .counterbox-block {
    min-width: 180px;
    min-height: 180px;
  }
}
@media only screen and (max-width: 575px) {
  .counterbox {
    padding: 15px;
  }
  .counterbox-block {
    min-width: 40%;
    margin: 3px;
    padding: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .counterbox-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .counterbox-block {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: auto;
    min-width: auto;
    margin: 0;
    margin-top: -1px;
    padding: 15px;
    border: none !important;
  }
}

/**
 * Insurence Box
 */
.insurencebox {
  padding: 75px 50px;
  box-shadow: 0 0 10px rgba(169,36,33, 0.2);
}
.insurencebox h4 {
  color: #a92421;
  margin-bottom: 5px;
}
.insurencebox h2 {
  line-height: 1.2;
}
.insurencebox-form select, .insurencebox-form input, .insurencebox-form .nice-select {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.insurencebox-form button, .insurencebox-form input[type="submit"] {
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  .insurencebox {
    padding: 40px 30px;
  }
}

/**
 * Call To Action
 */
.in-cta h4 {
  color: #ffffff;
}
.in-cta h2 {
  color: #ffffff;
}
.in-cta p {
  color: #ffffff;
}
.in-cta .in-button {
  margin-top: 20px;
}

/**
 * Blog Item
 */
.blog-slider-active {
  margin-top: 30px;
}
.blog-slider-active .in-blog {
  margin: 5px 0;
}

.in-blog {
  box-shadow: 0 0 13px rgba(153, 153, 153, 0.2);
  overflow: hidden;
}
.in-blog-image a {
  display: block;
  overflow: hidden;
}
.in-blog-image a img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0s;
}
.in-blog-image-list a {
  display: block;
  position: relative;
}
.in-blog-image-list a::before {
  background: rgba(11, 46, 123, 0.8);
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.in-blog-image-list a::after {
  position: absolute;
  font-family: Material-Design-Iconic-Font;
  content: "\f18e";
  left: 50%;
  bottom: 30%;
  color: #fff;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  transform: translateX(-50%) translateY(50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.in-blog-image-list a:hover::before {
  opacity: 1;
  visibility: visible;
}
.in-blog-image-list a:hover::after {
  opacity: 1;
  visibility: visible;
  bottom: 50%;
}
.in-blog-content {
  padding: 30px;
}
.in-blog-metatop {
  margin-bottom: 10px;
  font-size: 0;
}
.in-blog-metatop span {
  color: #a92421;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
@media only screen and (max-width: 767px) {
  .in-blog-metatop span {
    font-size: 13px;
  }
}
.in-blog-metatop span::after {
  content: "|";
  padding: 0 15px;
  color: #dddddd;
}
.in-blog-metatop span:last-child::after {
  display: none;
}
.in-blog-metatop span a {
  color: #a92421;
}
.in-blog-metatop span a:hover {
  text-decoration: underline;
}
.in-blog-title {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .in-blog-title {
    font-size: 20px;
  }
}
.in-blog-title a {
  color: #2b2b2b;
}
.in-blog-title a:hover {
  color: #a92421;
}
.in-blog-authorimage {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
}
.in-blog-authorimage::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #a92421;
}
.in-blog-authorimage span {
  position: relative;
  z-index: 1;
  display: inline-block;
  border-radius: 100px;
  height: 37px;
  width: 37px;
  border: 1px solid #a92421;
  overflow: hidden;
  vertical-align: middle;
}
.in-blog-authorimage span img {
  width: 100%;
}
.in-blog-metabottom {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.in-blog-metabottom span {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
@media only screen and (max-width: 767px) {
  .in-blog-metabottom span {
    font-size: 13px;
  }
}
.in-blog-metabottom span i {
  color: #a92421;
  padding-right: 2px;
  vertical-align: middle;
}
.in-blog-metabottom span a {
  color: #777777;
}
.in-blog-metabottom span a:hover {
  color: #a92421;
}
.in-blog:hover .in-blog-image a img {
  transform: scale(1.2);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .in-blog-content {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 575px) {
  .in-blog-content {
    padding: 30px 20px;
  }
}

.blockquote-blog {
  padding: 20px 15px;
  border: 5px solid #ddd;
}
.blockquote-blog p {
  margin: 0;
}

.admin-aouthor {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .admin-aouthor {
    flex-direction: column;
  }
}
.admin-aouthor .admin-image {
  width: 40%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .admin-aouthor .admin-image {
    width: 62%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .admin-aouthor .admin-image {
    width: 48%;
  }
}
@media only screen and (max-width: 767px) {
  .admin-aouthor .admin-image {
    width: 100%;
    text-align: center;
  }
  .admin-aouthor .admin-image img {
    width: 100%;
  }
}
.admin-aouthor .admin-info {
  padding: 22px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .admin-aouthor .admin-info {
    padding: 15px;
  }
}
.admin-aouthor .admin-info .name h5 {
  margin-bottom: 0;
}
.admin-aouthor .admin-info .name p {
  font-size: 14px;
}

.admin-author-details {
  border-top: 1px solid #a92421;
  margin-top: 30px;
}

.author-socialicons {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.author-socialicons li {
  list-style: none;
  display: inline-block;
}
.author-socialicons li a {
  display: block;
  border-radius: 100px;
  font-size: 16px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border: 1px solid #777;
  background: transparent;
  color: #777;
  text-align: center;
  margin-right: 5px;
  box-shadow: 0 0 3px rgab(0, 0, 0, 0.2);
}
.author-socialicons li a:hover {
  border: 1px solid #a92421;
  color: #a92421;
}

.review_address_inner h4 {
  margin-bottom: 40px;
}

.pro_review {
  display: flex;
  margin-bottom: 50px;
}
.pro_review:nth-child(3n) {
  padding-left: 120px;
}
@media only screen and (max-width: 767px) {
  .pro_review:nth-child(3n) {
    padding-left: 30px;
  }
}
.pro_review p {
  margin-bottom: 0;
}

.review_thumb {
  margin-right: 20px;
  min-width: 120px;
}
@media only screen and (max-width: 767px) {
  .review_thumb {
    min-width: 70px;
  }
}

.review_info h5 {
  margin-bottom: 5px;
}
.review_info h5 a {
  color: #333;
}
.review_info h5 a:hover {
  color: #a92421;
}

.review_date {
  font-size: 14px;
}

.rating_send a {
  font-size: 12px;
  background: #ddd;
  display: block;
  float: right;
  font-size: 14px;
  margin-top: -30px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: #000;
}
.rating_send a:hover {
  background: #a92421;
  color: #fff;
}

.review_date {
  margin-top: 5px;
}

.review_details p {
  margin-top: 5px;
}

.comment-form-area p {
  margin-bottom: 30px;
}
.comment-form-area p input {
  font-size: 14px;
  padding: 20px 15px;
}
.comment-form-area p textarea {
  height: 270px;
  padding: 15px;
}
@media only screen and (max-width: 767px) {
  .comment-form-area p textarea {
    height: 180px;
  }
}

.comment-form-submit .comment-submit {
  border: 1px solid #a92421;
  border: 1px solid #a92421;
  background: none;
  color: #a92421;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .comment-form-submit .comment-submit {
    padding: 10px 25px;
  }
}
.comment-form-submit .comment-submit:hover {
  background: #a92421;
  color: #fff;
}

/**
 * Widget Styles
 */
.widgets {
  margin-top: -40px;
}

/* Single Widget */
.single-widget {
  margin-top: 40px;
}
.single-widget ul {
  padding-left: 0;
  margin-bottom: 0;
}
.single-widget ul li {
  list-style: none;
}

/* Widget title */
.widget-title {
  color: #2b2b2b;
  margin-bottom: 32px;
  position: relative;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .widget-title {
    margin-bottom: 20px;
  }
}
.widget-title span {
  display: inline-block;
  position: relative;
  padding-right: 30px;
}
.widget-title span::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 1px;
  width: 300%;
  background: #a92421;
}

/* Widget Info */
.widget-info p {
  margin-top: 18px;
  color: #777777;
  margin-bottom: 0;
}

/* Widget Links */
.widget-links ul li:not(:last-child) {
  margin-bottom: 7px;
}
.widget-links ul li a {
  color: #777777;
}
.widget-links ul li a:hover {
  color: #a92421;
}

/* Widget Latestblog */
.widget-latestblog {
  position: relative;
}
.widget-latestblog ul li {
  position: relative;
  padding-left: 115px;
  min-height: 73px;
}
.widget-latestblog ul li:not(:last-child) {
  margin-bottom: 20px;
}
.widget-latestblog ul li .widget-latestblog-image {
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 5px;
  overflow: hidden;
  width: 100px;
}
.widget-latestblog ul li span {
  font-size: 14px;
  display: inline-block;
}
.widget-latestblog ul li h5 {
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.widget-latestblog ul li h5 a {
  color: #2b2b2b;
}
.widget-latestblog ul li h5 a:hover {
  color: #a92421;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .widget-latestblog ul li {
    padding-left: 95px;
  }
  .widget-latestblog ul li .widget-latestblog-image {
    width: 80px;
  }
}

/* Widget Newsletter */
.widget-newsletter p {
  margin-bottom: 27px;
}
.widget-newsletter-form {
  display: flex;
  border-radius: 5px;
}
.widget-newsletter-form input:not([type="submit"]) {
  border-radius: 3px 0 0 3px;
}
.widget-newsletter-form input:not([type="submit"])::-webkit-input-placeholder {
  color: #777777;
}
.widget-newsletter-form input:not([type="submit"]):-moz-placeholder {
  color: #777777;
}
.widget-newsletter-form input:not([type="submit"])::-moz-placeholder {
  color: #777777;
}
.widget-newsletter-form input:not([type="submit"]):-ms-input-placeholder {
  color: #777777;
}
.widget-newsletter-form button,
.widget-newsletter-form input[type="submit"] {
  background: #a92421;
  border-color: #a92421;
  flex: 0 0 60px;
  text-align: center;
  line-height: 43px;
  height: 45px;
  border-radius: 0 3px 3px 0;
  padding: 0;
}

/* Widget Search */
.widget-search-form {
  display: flex;
  border-radius: 5px;
}
.widget-search-form input:not([type="submit"]) {
  color: #a92421;
  border-radius: 3px 0 0 3px;
}
.widget-search-form input:not([type="submit"])::-webkit-input-placeholder {
  color: #a92421;
}
.widget-search-form input:not([type="submit"]):-moz-placeholder {
  color: #a92421;
}
.widget-search-form input:not([type="submit"])::-moz-placeholder {
  color: #a92421;
}
.widget-search-form input:not([type="submit"]):-ms-input-placeholder {
  color: #a92421;
}
.widget-search-form button,
.widget-search-form input[type="submit"] {
  background: #a92421;
  border-color: #a92421;
  flex: 0 0 50px;
  text-align: center;
  line-height: 43px;
  height: 45px;
  border-radius: 0 3px 3px 0;
  padding: 0;
  color: #ffffff;
  font-size: 20px;
}

/* Widget Categories */
.widget-categories ul li:not(:last-child) {
  margin-bottom: 8px;
}
.widget-categories ul li a {
  color: #777777;
  font-weight: 600;
  overflow: hidden;
  display: block;
}
.widget-categories ul li a span {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}
.widget-categories ul li a span::after {
  content: "";
  border-top: 1px dashed #dddddd;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -1px;
  height: 1px;
  width: 300px;
  transition: all 0.3s ease-in-out 0s;
}
.widget-categories ul li a:hover {
  color: #a92421;
}
.widget-categories ul li a:hover span:after {
  border-color: #a92421;
}

/* Service Widget Categories */
.service-widget-title {
  color: #2b2b2b;
  margin-bottom: 0px;
  position: relative;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
}
.service-widget-title span {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}
.service-widget-title span::after {
  content: "";
  border-top: 1px dashed #dddddd;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -1px;
  height: 1px;
  width: 110px;
  transition: all 0.3s ease-in-out 0s;
}

.service-widget-categories {
  border: 1px solid #ddd;
}
.service-widget-categories .service-cat-list {
  padding-left: 0;
  margin-bottom: 0;
}
.service-widget-categories .service-cat-list li {
  list-style: none;
}
.service-widget-categories .service-cat-list li:not(:last-child) {
  margin-bottom: 8px;
}
.service-widget-categories .service-cat-list li a {
  color: #777777;
  font-weight: 600;
  overflow: hidden;
  display: block;
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
}
.service-widget-categories .service-cat-list li a:hover {
  color: #a92421;
}
.service-widget-categories .download-brochure-area {
  padding: 20px 30px;
}

/* Service Style 2 */
.in-service-side-image {
  position: relative;
  overflow: hidden;
}
.in-service-side-image a {
  display: block;
  position: relative;
}
.in-service-side-image a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.in-service-side-image img {
  width: 100%;
}
.in-service-side-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
  margin-top: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.in-service-side-content {
  padding-top: 30px;
}
.in-service-side-content h5 a {
  color: #2b2b2b;
}
.in-service-side-content h5 a:hover {
  color: #a92421;
}
.in-service-side-content .in-button {
  margin-top: 15px;
}
.in-service-side:hover .in-service-side-image a::before {
  visibility: visible;
  opacity: 1;
}
.in-service-side:hover .in-service-side-icon {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.right-sidebar {
  padding-left: 70px;
}
@media only screen and (max-width: 767px) {
  .right-sidebar {
    padding-left: 0;
    margin-top: 30px;
  }
}

.left-sidebar {
  padding-right: 70px;
}
@media only screen and (max-width: 767px) {
  .left-sidebar {
    padding-right: 0;
    margin-top: 35px;
  }
}

.tag-list a {
  font-size: 14px;
  padding: 5px 20px;
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #777;
}
.tag-list a:hover {
  color: #a92421;
}

/**
 * Working Progress
 */
.workprogress-image {
  margin-top: 30px;
}
.workprogress-box {
  position: relative;
  height: 360px;
  width: 360px;
  z-index: 1;
  margin: 0 auto;
  margin-top: 30px;
}
.workprogress-box:before {
  content: "";
  background: url(../images/icons/roundbox-bg-2.png) no-repeat scroll center center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.workprogress-block {
  position: absolute;
  width: 245px;
}
.workprogress-block:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.workprogress-block:nth-child(2) {
  left: 0;
  top: 75%;
  transform: translate(-45%, -40%);
}
.workprogress-block:nth-child(3) {
  left: auto;
  right: 0;
  top: 75%;
  transform: translate(55%, -40%);
}
.workprogress-block h5 {
  margin-bottom: 10px;
  margin-top: 15px;
}
.workprogress-block p {
  margin-bottom: 0;
}
.workprogress-icon {
  height: 90px;
  width: 90px;
  text-align: center;
  line-height: 80px;
  background: #a92421;
  border-radius: 100px;
  display: inline-block;
  color: #ffffff;
  font-size: 34px;
  margin-top: -45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .workprogress-box {
    width: 250px;
  }
  .workprogress-icon {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 28px;
  }
  .workprogress-block:nth-child(2) {
    top: 67%;
  }
  .workprogress-block:nth-child(3) {
    top: 67%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .workprogress-image {
    text-align: center;
  }
  .workprogress-box {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .workprogress-box {
    width: 250px;
    margin-top: 80px;
  }
  .workprogress-icon {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 28px;
  }
  .workprogress-block:nth-child(2) {
    top: 67%;
  }
  .workprogress-block:nth-child(3) {
    top: 67%;
  }
}
@media only screen and (max-width: 575px) {
  .workprogress-box {
    height: auto;
    margin-top: 50px;
  }
  .workprogress-box::before {
    display: none;
  }
  .workprogress-block {
    position: relative;
    width: auto;
    top: inherit !important;
    transform: inherit !important;
    left: inherit !important;
    margin-top: 30px;
  }
  .workprogress-icon {
    margin-top: 0;
  }
}

/**
 * Callback
 */
.callback-area {
  position: relative;
  z-index: 1;
  padding-bottom: 325px;
}
.callback-area::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #0b2a50;
  opacity: 0.97;
  z-index: -1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .callback-area {
    padding-bottom: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .callback-area {
    padding-bottom: 287px;
  }
}
@media only screen and (max-width: 767px) {
  .callback-area {
    padding-bottom: 265px;
  }
}

.callback-content h4 {
  color: #a92421;
}
.callback-content h2 {
  color: #ffffff;
}
.callback-content p {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  padding-right: 100px;
}
.callback-form input {
  border-color: #48586c;
  color: #dddddd;
  letter-spacing: 1px;
}
.callback-form input::-webkit-input-placeholder {
  color: #dddddd;
}
.callback-form input:-moz-placeholder {
  color: #dddddd;
}
.callback-form input::-moz-placeholder {
  color: #dddddd;
}
.callback-form input:-ms-input-placeholder {
  color: #dddddd;
}
@media only screen and (max-width: 767px) {
  .callback-content p {
    padding-right: 0;
  }
}

/**
 * Team Member
 */
.in-member {
  border-radius: 5px;
}
.in-member-image {
  position: relative;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.in-member-image img {
  width: 100%;
}
.in-member-image::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(169,36,33, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out 0s;
}
.in-member-content {
  position: relative;
  padding: 35px 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
}
.in-member-content h5 {
  margin-bottom: 0px;
}
.in-member-content p {
  margin-bottom: 0;
}
.in-member-social {
  padding-left: 0;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  text-align: center;
  font-size: 0;
  z-index: 2;
}
.in-member-social li {
  display: inline-block;
  font-size: 16px;
  margin: 0 6px;
}
.in-member-social li a {
  display: inline-block;
  font-size: 16px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 100px;
  color: #a92421;
  background: #ffffff;
  text-align: center;
}
.in-member-social li a:hover {
  color: #ffffff;
  background: #a92421;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.in-member:hover .in-member-image::after {
  visibility: visible;
  opacity: 1;
}

.team-member-slider {
  margin-top: -207px;
  position: relative;
  z-index: 1;
}
.team-member-slider .slick-list {
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: -10px;
}
.team-member-slider-item {
  padding: 10px 40px;
  padding-top: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .team-member-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .team-member-slider-item {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-member-slider .slick-list {
    margin-left: -20px;
    margin-right: -20px;
  }
  .team-member-slider-item {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .team-member-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .team-member-slider-item {
    padding: 10px 15px;
  }
}

/**
 * Slider Elements
 */
.in-sliderarrow {
  position: relative;
}
.in-sliderarrow-arrow {
  position: absolute;
  top: 50%;
  height: 50px;
  line-height: 48px;
  width: 50px;
  border-radius: 100px;
  font-size: 32px;
  /*background: #a92421;*/
  /*border: 1px solid #a92421;*/
  background: #a92421;
  border: 1px solid #a92421;
  color: #fff;
  z-index: 3;
  opacity: 0;
  visibility: visible;
  transition: all 0.3s ease-in-out 0s;
}
.in-sliderarrow-prev {
  left: 30px;
  right: auto;
}
.in-sliderarrow-next {
  right: 30px;
  left: auto;
}
.in-sliderarrow:hover .in-sliderarrow-arrow {
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .in-sliderarrow-arrow {
    top: auto;
    bottom: 15px;
    visibility: visible;
    opacity: 1;
  }
  .in-sliderarrow-prev {
    left: auto;
    right: calc(50% + 10px);
  }
  .in-sliderarrow-next {
    right: auto;
    left: calc(50% + 10px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .in-sliderarrow-arrow {
    top: auto;
    bottom: 15px;
    height: 35px;
    line-height: 33px;
    width: 35px;
    font-size: 22px;
    visibility: visible;
    opacity: 1;
  }
  .in-sliderarrow-prev {
    left: auto;
    right: calc(50% + 10px);
  }
  .in-sliderarrow-next {
    right: auto;
    left: calc(50% + 10px);
  }
}
@media only screen and (max-width: 767px) {
  .in-sliderarrow-arrow {
    top: auto;
    bottom: 15px;
    height: 35px;
    line-height: 33px;
    width: 35px;
    font-size: 22px;
    visibility: visible;
    opacity: 1;
  }
  .in-sliderarrow-prev {
    left: auto;
    right: calc(50% + 10px);
  }
  .in-sliderarrow-next {
    right: auto;
    left: calc(50% + 10px);
  }
}

.in-slidearrow-2 {
  padding-bottom: 75px;
}
.in-slidearrow-2 .in-sliderarrow-arrow {
  position: absolute;
  height: 40px;
  line-height: 40px;
  width: 60px;
  opacity: 1;
  border-radius: 10px;
  /*color: #a92421;*/
  color: #a92421;
  padding: 0;
  font-size: 22px;
  border: none;
  top: auto;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.in-slidearrow-2 .in-sliderarrow-arrow:hover {
  /*background: #a92421;*/
  background: #a92421;
  color: #ffffff;
}
.in-slidearrow-2 .in-sliderarrow-prev {
  right: calc(50% + 7px);
  left: auto;
}
.in-slidearrow-2 .in-sliderarrow-next {
  left: calc(50% + 7px);
  right: auto;
}

/**************************************
	Blocks Styles
***************************************/
/**
 * Header
 */
.header-toparea {
  /*background: #163963;*/
  background: #a92421;
  padding: 15px 0;
}
.header-topcontact, .header-toplinks {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0;
  line-height: 1;
  padding: 5px 0;
}
.header-topcontact li, .header-toplinks li {
  font-size: 14px;
  line-height: 1;
  list-style: none;
  display: inline-block;
  color: #ffffff;
  border-right: 1px solid #fff;
  padding: 0 15px;
  letter-spacing: 1px;
}
.header-topcontact li:first-child, .header-toplinks li:first-child {
  padding-left: 0;
}
.header-topcontact li:last-child, .header-toplinks li:last-child {
  border-right: none;
  padding-right: 0;
}
.header-topcontact li a, .header-toplinks li a {
  color: #ffffff;
}
.header-topcontact li a:hover, .header-toplinks li a:hover {
  color: #a92421;
}
.header-toplinks {
  text-align: right;
}
.header-topcontact li i {
  margin-right: 7px;
}
.header-bottomarea {
  background: #ffffff;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-right-wrap {
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .header .header-right-wrap {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .header .header-right-wrap {
    margin-right: 0px;
  }
}
.header-logo {
  display: inline-block;
  padding: 15px 0;
}
.header-search {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.header-searchtrigger {
  border: none;
  font-size: 24px;
  align-self: stretch;
  display: flex;
  align-items: center;
  color: #2b2b2b;
  min-width: 34px;
}
.header-searchtrigger:hover, .header-searchtrigger.is-active {
  color: #a92421;
}
.header-searchbox {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  height: auto;
  background: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  transform: scale(0.8);
  transform-origin: 50% 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.header-searchbox input {
  border: 1px solid #bbbbbb;
  border-right-color: #a92421;
}
.header-searchbox input:focus {
  border-color: #a92421;
}
.header-searchbox button,
.header-searchbox [type="submit"] {
  background: #a92421;
  border: 1px solid #a92421;
  color: #ffffff;
  flex: 0 0 45px;
  max-width: 45px;
  font-size: 22px;
}
.header-searchbox button:hover,
.header-searchbox [type="submit"]:hover {
  background: #a92421;
}
.header-searchbox.is-visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-topcontact, .header-toplinks {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .header-topcontact, .header-toplinks {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .header-topcontact, .header-toplinks {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .header-topcontact li, .header-toplinks li {
    border-right: none;
    line-height: 1.5;
  }
  .header-topcontact li:first-child, .header-toplinks li:first-child {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .header-topcontact li:first-child, .header-toplinks li:first-child {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .header-topcontact li:last-child, .header-toplinks li:last-child {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .header-searchbox {
    width: 290px;
  }
}
.header .buy-now-button {
  background: #163963;
  padding: 10px 18px;
  border-radius: 25px;
  color: #fff;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 600;
}
.header .buy-now-button:hover {
  background: #a92421;
}
@media only screen and (max-width: 575px) {
  .header .buy-now-button {
    display: none;
  }
}

/**
 * Navigation
 */
.in-navigation {
  text-align: right;
  flex-grow: 1;
  padding: 0 20px;
}
.in-navigation > ul {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0;
  display: inline-block;
}
.in-navigation > ul > li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  position: relative;
}
.in-navigation > ul > li > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #2b2b2b;
  display: block;
  padding: 40px 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .in-navigation > ul > li > a {
    padding: 40px 10px;
  }
}
.in-navigation > ul > li:hover > a {
  color: #a92421;
}
.in-navigation .in-dropdown {
  position: relative;
}
.in-navigation .in-dropdown > a::after {
  content: "\f2f9";
  font-family: 'Material-Design-Iconic-Font';
  padding-left: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  vertical-align: bottom;
}
.in-navigation .in-dropdown ul {
  position: absolute;
  left: 100%;
  right: auto;
  top: 0;
  height: auto;
  width: 240px;
  z-index: 10;
  padding-left: 0;
  margin-bottom: 0;
  text-align: left;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(20px);
  transition: all 0.2s ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
}
.in-navigation .in-dropdown ul li {
  position: relative;
}
.in-navigation .in-dropdown ul li a {
  display: block;
  padding: 9px 15px;
  color: #2b2b2b;
  /*text-transform: uppercase;*/
  font-size: 14px;
}
.in-navigation .in-dropdown ul li:not(:last-child) a {
  border-bottom: 1px solid #f0f0f0;
}
.in-navigation .in-dropdown ul li:hover > a {
  color: #ffffff;
  background: #a92421;
  border-color: #a92421;
}
.in-navigation .in-dropdown ul li:hover > ul {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.in-navigation .in-dropdown > ul {
  left: 0;
  top: 100%;
  transform: translateY(20px);
}
.in-navigation .in-dropdown:hover > ul {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.in-navigation .in-dropdown.overflow-element ul {
  left: auto;
  right: 100%;
  transform: translateX(-20px);
}
.in-navigation .in-dropdown.overflow-element > ul {
  left: auto;
  right: 0;
}

/**
 * Heroslider
 */
.heroslider {
  display: flex;
  align-items: center;
}
.heroslider-content {
  padding: 70px 0;
}
.heroslider-content h1 {
  font-size: 90px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 1;
}
.heroslider-content h1 span {
  display: block;
  font-size: 60px;
  font-weight: 400;
  color: #a92421;
}
.heroslider-content p {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  padding-right: 100px;
}
.heroslider-content .in-button {
  margin-top: 20px;
}
.heroslider-buttonholder {
  margin-top: 25px;
}
.heroslider-buttonholder .in-button {
  margin: 0 3px;
  margin-top: 5px;
}
.heroslider-buttonholder .in-button:first-child {
  margin-left: 0;
}
.heroslider-buttonholder .in-button:last-child {
  margin-right: 0;
}
.heroslider-roundbox {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .heroslider-content h1 {
    font-size: 64px;
  }
  .heroslider-content h1 span {
    font-size: 52px;
  }
  .heroslider-content p {
    font-size: 18px;
  }
  .heroslider-roundbox {
    margin-top: 75px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .heroslider-content h1 {
    font-size: 56px;
  }
  .heroslider-content h1 span {
    font-size: 42px;
  }
  .heroslider-content p {
    font-size: 18px;
    padding-right: 0;
  }
  .heroslider-roundbox {
    margin-top: -65px;
    margin-bottom: 70px;
  }
  .heroslider-roundbox::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .heroslider-content h1 {
    font-size: 42px;
  }
  .heroslider-content h1 span {
    font-size: 34px;
  }
  .heroslider-content p {
    font-size: 16px;
    line-height: 26px;
    padding-right: 0;
  }
  .heroslider-roundbox {
    margin-top: -65px;
    margin-bottom: 70px;
  }
  .heroslider-roundbox::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .heroslider-content h1 {
    font-size: 32px;
  }
  .heroslider-content h1 span {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .heroslider-content p {
    font-size: 16px;
  }
  .heroslider-roundbox {
    margin-top: -65px;
    margin-bottom: 70px;
  }
  .heroslider-roundbox::before {
    display: none;
  }
}

.animated-heroslider .heroslider-content h1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 0s;
}
.animated-heroslider .heroslider-content p {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 0.1s;
}
.animated-heroslider .heroslider-content .heroslider-buttonholder {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out 0.2s;
}
.animated-heroslider.slick-current .heroslider-content h1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.animated-heroslider.slick-current .heroslider-content p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.animated-heroslider.slick-current .heroslider-content .heroslider-buttonholder {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/**
 * About Styles
 */
.about-content {
  padding: 75px 50px;
  box-shadow: 0 0 10px rgba(169,36,33, 0.2);
}
.about-content h6 {
  color: #a92421;
  margin-bottom: 0;
  font-weight: 700;
}
.about-content h4 {
  color: #a92421;
}
.about-content ul {
  margin-top: 35px;
}
.about-content ul li:not(:last-child) {
  margin-bottom: 15px;
}
.about-content .in-button {
  margin-top: 35px;
}
@media only screen and (max-width: 767px) {
  .about-content {
    padding: 40px 30px;
  }
  .about-content ul {
    margin-top: 25px;
  }
  .about-content .in-button {
    margin-top: 25px;
  }
}

/**
 * Testimonial
 */
.testimonial {
  max-width: 830px;
  box-shadow: 0 0 10px rgba(169,36,33, 0.2);
  text-align: center;
  padding: 30px 55px;
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial {
    max-width: 683px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial {
    max-width: 90%;
  }
}
.testimonial::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.testimonial-header {
  margin-top: 40px;
  transition: all 0.3s ease-in-out 0s;
}
.testimonial-header span {
  display: inline-block;
  margin: 15px 0;
  vertical-align: middle;
}
.testimonial-image {
  height: 0;
  width: 0;
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.3s ease-in-out 0s;
}
.testimonial-image::before {
  content: "\f1b2";
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 0;
  top: 50%;
  height: 45px;
  width: 45px;
  line-height: 45px;
  margin-top: -22px;
  margin-left: -22px;
  border-radius: 100px;
  font-size: 22px;
  background: #ffffff;
  /*color: #a92421;*/
  color: #a92421;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.testimonial-image img {
  max-height: 100%;
  max-width: 100%;
}
.testimonial-content p {
  margin-bottom: 0;
}
.testimonial-content h5 {
  margin-top: 25px;
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.testimonial-content h6 {
  margin-bottom: 0;
  color: #777777;
}
.testimonial-socialicons {
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 20px;
  font-size: 0;
}
.testimonial-socialicons li {
  list-style: none;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
}
.testimonial-socialicons li:not(:last-child) {
  margin-right: 10px;
}
.testimonial-socialicons li a {
  display: inline-block;
  border-radius: 100px;
  font-size: 16px;
  height: 32px;
  width: 32px;
  line-height: 1;
  background: #f6f6f6;
  /*color: #a92421;*/
  color: #a92421;
}
.testimonial-socialicons li a i {
  line-height: 32px;
}
.testimonial-socialicons li a:hover {
  /*background: #a92421;*/
  background: #a92421;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial {
    padding: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .testimonial {
    padding: 30px;
  }
}

.slick-current .testimonial-image {
  height: 120px;
  width: 120px;
}

.testimonial-slider {
  margin-left: -15px;
  margin-right: -15px;
}
.testimonial-slider .slider-item {
  margin: 15px;
}
.testimonial-slider .slider-item.first-elem .testimonial {
  position: relative;
}
.testimonial-slider .slider-item.first-elem .testimonial::before {
  background: -webkit-linear-gradient(90deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: -moz-linear-gradient(90deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: -ms-linear-gradient(90deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: -o-linear-gradient(90deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: linear-gradient(90deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
}
.testimonial-slider .slider-item.last-elem .testimonial {
  position: relative;
}
.testimonial-slider .slider-item.last-elem .testimonial::before {
  background: -webkit-linear-gradient(270deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: -moz-linear-gradient(270deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: -ms-linear-gradient(270deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: -o-linear-gradient(270deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
  background: linear-gradient(270deg, #ffffff 0%, rgba(169,36,33, 0.3) 100%);
}
.testimonial-slider .slider-item.slick-active.first-elem .testimonial::before {
  opacity: 1;
  visibility: visible;
}
.testimonial-slider .slider-item.slick-active.last-elem .testimonial::before {
  opacity: 1;
  visibility: visible;
}

.testimonial-area-two {
  z-index: 1;
  padding-bottom: 325px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-area-two {
    padding-bottom: 295px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-area-two {
    padding-bottom: 285px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-area-two {
    padding-bottom: 265px;
  }
}
.testimonial-area-two .testimonial {
  box-shadow: none;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 0;
  z-index: 1;
}
.testimonial-area-two .testimonial-image {
  height: 120px;
  width: 120px;
}
.testimonial-area-two .testimonial-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  height: 120px;
  width: 120px;
  margin-top: -24px;
  margin-left: 13px;
  border-radius: 100px;
  background: #ddd;
  color: #a92421;
  z-index: -1;
}
.testimonial-area-two .testimonial .testimonial-content p {
  color: #fff;
}
.testimonial-area-two .testimonial .testimonial-content h5, .testimonial-area-two .testimonial .testimonial-content h6 {
  color: #fff;
}

/**
* FAQ Css
**/
.question-content-wrap {
  margin-top: 30px;
}

.faequently-accordion h4 {
  font-size: 16px;
  fon-weight: 600;
  padding: 22px 55px 22px 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .faequently-accordion h4 {
    padding: 15px 55px 15px 15px;
  }
}
.faequently-accordion h4 a {
  display: block;
  width: 100%;
  color: #666;
}
.faequently-accordion h4 a::before {
  color: #222;
  content: "\f2f9";
  font-size: 23.2px;
  font-family: Material-Design-Iconic-Font;
  right: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 9;
  width: 50px;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  line-height: 62px;
}
.faequently-accordion h4.open {
  display: block;
}
.faequently-accordion h4.open a {
  display: block;
}
.faequently-accordion h4.open a::before {
  content: "\f2fc";
  background: #a92421;
  color: #fff;
}
.faequently-accordion .faequently-description p {
  font-size: 16px;
  padding: 30px 50px;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
}
@media only screen and (max-width: 767px) {
  .faequently-accordion .faequently-description p {
    padding: 15px;
  }
}

/**
* Contact Css
**/
.contact-form-warp .input-box {
  margin-top: 30px;
}
.contact-form-warp .input-box input {
  color: #000;
  border-color: #ccc;
}
.contact-form-warp .input-box textarea {
  height: 250px;
  padding: 15px;
  border-color: #ccc;
}

.contact-submit-btn {
  margin-top: 50px;
}
.contact-submit-btn .submit-btn {
  border: 1px solid #a92421;
  border: 1px solid #a92421;
  background: #a92421;
  color: #fff;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .contact-submit-btn .submit-btn {
    padding: 15px 25px;
  }
}
.contact-submit-btn .submit-btn:hover {
  background: transparent;
  color: #a92421;
}

#map {
  height: 520px;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #map {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  #map {
    height: 300px;
  }
}

/**
 * Footer
 */
.footer-contact {
  margin-bottom: -132px;
  position: relative;
  z-index: 1;
  /*background: #0a3161;*/
  background: #a92421;
  padding: 40px 50px;
}
.footer-contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  height: 0;
  width: 100%;
  /*border-bottom: 190px solid rgba(169,36,33, 0.13);*/
  border-bottom: 190px solid rgba(169,36,33, 0.13);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: scale(1.04);
  z-index: -1;
}
.footer-contact-block {
  display: flex;
  align-items: center;
  padding: 15px 0;
  color: #ffffff;
}
.footer-contact-block p {
  margin-bottom: 0;
  color: #ffffff;
}
.footer-contact-block a {
  color: #ffffff;
}
.footer-contact-block a:hover {
  /*color: #a92421;*/
}
.footer-contact-icon {
  height: 65px;
  width: 65px;
  display: inline-block;
  flex: 0 0 65px;
  margin-right: 15px;
  background: #fff;
  text-align: center;
  line-height: 65px;
  border-radius: 100px;
  /*color: #a92421;*/
  color: #a92421;
  font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-contact {
    margin-bottom: -155px;
  }
  .footer-contact::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .footer-contact {
    margin-bottom: -150px;
    padding: 30px;
  }
  .footer-contact::before {
    display: none;
  }
  .footer-contact > .row .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-contact-block {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 575px) {
  .footer-contact {
    padding: 30px 15px;
  }
  .footer-contact-block {
    padding: 10px 0;
  }
  .footer-contact-icon {
    height: 55px;
    width: 55px;
    -ms-flex: 0 0 65px;
    flex: 0 0 55px;
    line-height: 55px;
  }
}

.footer-inner {
  /*background: rgba(22, 57, 99, 0.95) url(../images/bg/footer-bg-dots.png);*/
  /*background: rgba(169,36,33,0.80) url(../images/bg/footer-bg-dots.png);*/
  background: rgba(256,256,256,0.50) url(../images/bg/footer-bg-dots.png);
  padding-top: 155px;
}

.footer-widgets {
  margin-top: -40px;
}
.footer-widgets .widget-title {
  color: rgba(169,36,33, 1);
  font-size: 22px;
  position: relative;
}
.footer-widgets .widget-title span {
  padding-bottom: 5px;
}
.footer-widgets .widget-title span::after {
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  height: 1px;
  width: 70px;
  background: rgba(169,36,33, 1);;
}
.footer-widgets .widget-info p {
  color: rgba(169,36,33, 1);;
}
.footer-widgets .widget-links {
  padding-left: 15px;
}
.footer-widgets .widget-links ul li a {
  color: rgba(169,36,33, 1);;
}
.footer-widgets .widget-links ul li a:hover {
  color: #a92421;
}
.footer-widgets .widget-latestblog ul li span {
  color: rgba(169,36,33, 1);;
}
.footer-widgets .widget-latestblog ul li h5 {
  color: rgba(169,36,33, 1);;
}
.footer-widgets .widget-latestblog ul li h5 a {
  color: rgba(169,36,33, 1);;
}
.footer-widgets .widget-latestblog ul li h5 a:hover {
  color: #a92421;
}
.footer-widgets .widget-newsletter {
  padding-left: 30px;
}
.footer-widgets .widget-newsletter p {
  color: rgba(169,36,33, 1);
}
.footer-widgets .widget-newsletter-form input:not([type="submit"]) {
  background: #ffffff;
  border-color: #a92421;
}
.footer-widgets .widget-newsletter-form input:not([type="submit"])::-webkit-input-placeholder {
  color: #a92421;
}
.footer-widgets .widget-newsletter-form input:not([type="submit"]):-moz-placeholder {
  color: #a92421;
}
.footer-widgets .widget-newsletter-form input:not([type="submit"])::-moz-placeholder {
  color: #a92421;
}
.footer-widgets .widget-newsletter-form input:not([type="submit"]):-ms-input-placeholder {
  color: #a92421;
}
.footer-widgets .footer-socialicons {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.footer-widgets .footer-socialicons li {
  list-style: none;
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
}
.footer-widgets .footer-socialicons li:not(:last-child) {
  margin-right: 10px;
}
.footer-widgets .footer-socialicons li a {
  display: inline-block;
  border-radius: 100px;
  font-size: 16px;
  height: 32px;
  width: 32px;
  line-height: 1;
  border: 1px solid #a92421;
  background: transparent;
  color: rgba(169,36,33, 1);
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.footer-widgets .footer-socialicons li a i {
  line-height: 32px;
}
.footer-widgets .footer-socialicons li a:hover {
  background: #a92421;
  border-color: #a92421;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-widgets .widget-links {
    padding-left: 0;
  }
  .footer-widgets .widget-newsletter {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer-widgets .widget-links {
    padding-left: 0;
  }
  .footer-widgets .widget-newsletter {
    padding-left: 0;
  }
}

.footer-copyright-area {
  /*background: rgba(112, 134, 219, 0.2);*/
  background: rgba(169,36,33, 1);
  padding: 10px 0;
}
.footer-copyright-area .copyright-text {
  color: #ffffff;
  margin-bottom: 0;
  padding: 5px 0;
}
.footer-copyright-area .copyright-text a {
  color: #ffffff;
}
.footer-copyright-area .copyright-text a:hover {
  color: #a92421;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-copyright-area .copyright-text {
    text-align: center;
  }
}
.footer-copyright-area .copyright-links {
  text-align: right;
  padding-left: 0;
  margin-bottom: 0;
  padding: 5px 0;
}
.footer-copyright-area .copyright-links li {
  list-style: none;
  display: inline-block;
}
.footer-copyright-area .copyright-links li:not(:last-child) {
  margin-right: 40px;
}
.footer-copyright-area .copyright-links li a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.footer-copyright-area .copyright-links li a:hover {
  color: #a92421;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-copyright-area .copyright-links li:not(:last-child) {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-copyright-area .copyright-text {
    text-align: center;
  }
  .footer-copyright-area .copyright-links {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer-copyright-area .copyright-text {
    text-align: center;
  }
  .footer-copyright-area .copyright-links {
    text-align: center;
  }
  .footer-copyright-area .copyright-links li:not(:last-child) {
    margin-right: 20px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .page-content {
  padding-top: 102px;
}

.header, #header-bottomarea{
  z-index: 999999;
}

#header-bottomarea{
  border-bottom: solid 2px #a92421;
}

/*****************************************/
/*>>>>>>>>>>>>>>>(THE END)<<<<<<<<<<<<<<<*/
/*****************************************/

/*# sourceMappingURL=style.css.map */
